.title {
    padding: 1rem;
}

.title p{
    font-size:30 ;

}

.prop-setup-form-container {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;
    max-width: 771.94px;
    width: 100%;
    border-radius: 16px;
    background-color: lightgreen;
}

.prop-setup-form-container form .textarea{
    width: 100%;
    max-width: 771.94px;
    min-width: 500px;
    height:10rem;
    font-size: 1.5rem;
    font-weight: lighter;

    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    resize: none;
}

.prop-setup-form-container form .submit{
    /* width: 3rem; */
    /* flex-basis: 2rem; */
    display: block;
    text-align: center;
    padding:.3rem;
    height: 35px;
}



.prop-setup-form-container p, .prop-setup-form-container form{
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prop-type-container, .rent-type-container {
    display: flex;
    justify-content: space-between;

}

.prop-location{
    display: inline-flex;
    justify-items: left;
}

.prop-location label{
    flex:1;
}
#prop-location-address{
    flex:3;
    padding:0.5rem;
}

.prop-struct-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 3rem;
}

.prop-struct-item{
    justify-self: center;
}

.prop-struct-item input{
    width: 2rem;
    text-align: center;
}

.prop-struct-label{
    display: flex;
    justify-content: right;
    flex-direction: column;
}

#prop-title {
    font-size: medium;
    padding: 0.25rem;
}

.prop-title-item, .prop-desc-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

#prop-desc {
    font-size: medium;
    padding: 0.25rem;
    resize: none;
}

.prop-price-container{
    padding-left: 2rem;
}

#prop-price{
    width: 3rem;
    text-align: center;
}