/* #profile-info-container{
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;

    display: flex;
    flex-direction: column;
    max-width: 771.94px;
    width: 100%;

    border-radius: 16px;
} */

#profile-info{
    margin-top: 1rem;
    font-size: 30px;
}